$gray: #eee;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  display: block;
}

.main-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



/* ROOT FONT STYLES */

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Varela Round', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

section {
  padding: 5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.gray {
  background-color: $gray;
}

.button {
  background-color: white;
  border: 2px solid #eee;
  border-radius: 60px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; /* Safari */
  width: 80%;
}

.button:hover {
    background-color: #35BABF;
    color: white;
    border: 2px solid #35BABF;
}

.button:hover a {
    color: white;
    text-decoration: none;
}
