.portrait {
  max-width: 280px;
}

.bio {
  margin: 0px;
}

.card {
  min-height: 400px;
  padding: 2rem 4rem 4rem 4rem;
  border: solid 1px #eee;
  border-radius: 3px;
  background-color: #fff;
}

.card h2 {
  color: #FFF;
}

.crunchfish {
  font-family: 'Varela Round', sans-serif;
  color: #ED8C1F;
}

.vr {
    background: url("/images/p1.jpg") no-repeat center center;
    max-width: 100%;
}
