

.portrait {
  max-width: 280px;
}

.bio {
  margin: 0px;
}

.card {
  margin-bottom: 1rem;
  padding: 2rem;
  border: solid 1px #eee;
  border-radius: 3px;
}

.crunchfish {
  font-family: 'Varela Round', sans-serif;
  color: #ED8C1F;
}
