.navigation-bar {
  height: 70px;
  padding:0;
  font-size: 1.8rem;
  background-color: #fbfbfb;
}

.nav-links {
  float: right;
  margin-right: 1em;
}

.logo a {
  display: inline-block;
  float: left;
}

.navigation-bar ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation-bar li {
  display: inline-block;
}

.navigation-bar a {
  font-size: 22px;
  display: block;
  padding: 19px;
  text-decoration: none;
  color: #000;
}

.navigation-bar a:hover {
  color: #83AF9B;
}

.active {
    background-color: #fff;

}
