<div class="footer">
  <div class="container">
  <div class="contact">
    <p>You can contact me at <b>rogow.thomas@gmail.com</b></p>
    <a href="https://se.linkedin.com/in/thomasrogow"><img src="images/linkedin.svg" class="contact-links" alt=""></a>
  </div>
  <div class="disc">
    <p>2016 by Thomas Rogowiec <br>
    Designed and built with <a href="http://middlemanapp.com">Middleman</a></p>
  </div>
  </div>
</div>
