<section>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag '/images/portrait.jpeg', :class => 'portrait'  %>
    </div>
    <div class="col-md-8">
      <br>
      <h3>Hi. I'm Thomas Rogowiec and I'm an interaction designer based in Malmö, Sweden.</h3>
      <h3>I create touchless experiences together with the wonderful &amp; humble team over at <a class="crunchfish" href="http://crunchfish.com">Crunchfish</a>.</h3>
    </div>
  </div>
</section>
