<section>



  <div class="intro center">
    <%= image_tag '/images/portrait.jpeg', :class => 'portrait'  %>

    <h4>Hi. I'm Thomas Rogowiec and I'm an interaction designer based in Malmö, Sweden.</h4>
    <h4>I create touchless experiences together with the wonderful &amp; humble team over at <a class="crunchfish" href="http://crunchfish.com">Crunchfish</a>.</h4>
  </div>

</section>
