<div class="navigation-bar">
  <div class="logo">
    <a href="#">T</a>
  </div>
  <div class="nav-links">
    <ul>
      <li><a href="index.html" class="active">Work</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="cv.html">CV</a></li>
    </ul>
  </div>
</div>
