
<div class="navigation-bar">
  <div class="navigation-container">
     <div class="logo">
     </div>
     <ul>
         <li><a href="#">Work</a></li>
         <li><a href="#">About</a></li>
         <li><a href="#">CV</a></li>
     </ul>
  </div>
</div>
