<section>
  <% data.projects.projects.each do |project| %>
    <div class="card">
      <h2>
        <%= link_to project.title, project.path, relative: true  %>
      </h2>
    </div>
  <% end %>
</section>
